$background-color: #f7f7f7;
$primary-color: white;
$accent-color:#02052C;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: $background-color;
}

li {
    list-style: none;
}

@import './small';
@import './medium';
@import './large';
@import './animation';






